{
    "listeners": {
        "*:80": {
            "pass": "routes",
            "forwarded": {
                "client_ip": "X-Forwarded-For",
                "protocol": "X-Forwarded-Proto",
                "source": ["0.0.0.0/0"]
            }
        }
    },
    "routes": [
        {
            "match": {
                "uri": "/staticfiles/*"
            },
            "action": {
                "share": "/home/app/application_api$uri"
            }
        },
        {
            "action": {
                "pass": "applications/application_api"
            }
        }
    ],
    "applications": {
        "delivery": {
            "type": "python",
            "processes": 5,
            "module": "demarcheur.wsgi",
            "path": "/home/app/application_api",
            "home": "/home/app/venv/",
            "user": "unit",
            "working_directory": "/home/app/application_api",
            "environment": {
                "HOME": "/home/app/application_api"
            }    
        }
    },
    "access_log": {
        "path": "/dev/stdout",
        "format": "$remote_addr - - [$time_local] \"$request_line\" $status $body_bytes_sent \"$header_referer\" \"$header_user_agent\""
    }
}
